<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Download Monkey</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <!--<link rel="stylesheet" href="/main.css" />-->
</head>
<body>

<div class="container">

    <h1 class="text-center">Download Instagram Photo</h1>

    <form action="/instagram/image" method="post">
        <div class="form-group">

            <label for="inputUrl">Enter Instagram Photo URL</label>
            <input type="text" class="form-control input-lg" id="inputUrl"
                   placeholder="Enter Instagram URL here.." name="url"
                   th:value="${instagram.url}"
            />
            <p th:text="${instagram.url}"/>
            <p th:text="'parsed img url = ' + ${image.url}"/>
        </div>
        <div class="form-group">
            <button type="submit"
                    class="btn btn-primary btn-lg center-block">Go!
            </button>
        </div>
    </form>
    <div class="row img-container">
        <div class="img-container col-sm-6" th:if="${image.url} != null">
            <img class="img-responsive center-block" th:src="${image.url}"
                 th:alt="${image.description}"/>
            <br/>
            <div class="text-center">
                <a th:href="${image.url}"
                   class="btn btn-primary btn-lg" download="">Download
                    Photo</a>
            </div>
        </div>
        <div class="p-container col-sm-6">

        </div>
    </div>
</div>

</body>
</html>